/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: white;
  font-size: 1em;
  line-height: 1.4;
  background-color: black;
}
 /* * {
  border: 2px solid red;
}

  */



.inactive{
  display: none;
}


body{
  height: auto;
}

nav{
  display: flex;
  align-items: center;
  padding: 0 20px;

}

.turqoise{
  color: turquoise;
}

h1{
  font-weight: bold;
  font-size: 4rem;
}
h2{
  display: block;
  font-weight: bold;
  font-size: 3.5rem;
}


.navItems{
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.navItem {
  margin-left: 20px;
  font-size: 2rem;
}

.navItem a{
  text-decoration: none;
  color: white;
}

.navItem a:hover{
  text-decoration: underline;
  font-size: 2.1rem;
  color: turquoise;
}

.navItem a.active{
  color: turquoise;
}

#middlePart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



#middlePart3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bigText{
  width: 50%;
  height: 50%;
  margin-bottom: 100px;
}

.bigText h1{
  margin-left: 15%;
  margin-right: 10%;
}

.bigText h2{
  margin-left: 15%;
  margin-right: 10%;
}

.bigText p{
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1.4rem;
}

.bigText ul{
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1.4rem;
}



.buttons{
  margin-left: 15%;
  margin-top: 50px;
}


button{
  height: 50px;
  width: 200px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
}
.button1{
  color: black;
  background-color: turquoise;
  cursor: pointer;
}

.button1:hover{
  background-color: black;
  color: white;
  border: 2px solid turquoise;
}
.button2{
  margin-left: 5%;
  border: 2px solid turquoise;
  background-color: black;
  color: white;
  cursor: pointer;
}
.button2:hover{
  background-color: turquoise;
  color: black;
}
.picBox{
  max-width: 50%;
  height: auto;
  margin-left: 150px;
}

.picBox img{
  height: auto ;
  max-width: 100%;
  display: block;
}

header{
  padding: 0 20px;
}

.section{
  padding: 0 20px;
}


.site-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a.active{
  color: turquoise;
}

.footer-links a:hover {
  text-decoration: underline;
  color: turquoise;
}

.menu{
  display: none;
}

.menu-icon{
  display: none;
}




/*
CONTACT
 */

.formsection{
  display: flex;
  justify-content: space-around;
  gap: -10px;
  align-items: center;
  height: 70vh;
  flex-wrap: wrap;
}

.bigText2{
  width: 50%;
  height: 50%;
  margin-bottom: 100px;
}

.bigText2 h1{
  margin-left: 15%;
  margin-right: 10%;
}

.bigText2 h2{
  margin-left: 15%;
  margin-right: 10%;
}

.bigText2 p{
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1.4rem;
}

.bigText2 ul{
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1.4rem;
}

#middlePart2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: black;
  color: black;
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 100%;
  margin-bottom: 150px;


}
.hilfe{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;


}
.form-container h2{
  font-size: 2rem;
  color: turquoise;

}

form {
  display: flex;
  max-width: 750px;
  min-width: 100px;
  flex-direction: column;
  background: #121212;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-left: 25%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: turquoise;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: black;
}


.buttonCon{

  margin-top: 20px;
}

.buttonCon:hover {
  background-color: turquoise;
  cursor: pointer;
}

#response {
  margin-top: 10px;
}



/* PROJECT STYLE
*/

#project-mid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1500px; /* Maximalbreite des Containers */
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  max-width: 400px;
  height: 450px;
  background-color: turquoise;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  border: 2px solid white;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  background-color: turquoise;
}

.card-title {
  color: black;
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.card-text {
  color: black;
  line-height: 1.5;

}

.card-link {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

@media (max-width: 600px){
  .navItems{
    display: none;
  }
  nav{
    padding: 0;
  }

  nav h2{
    font-size: 2rem;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    top: 45px;
    right: 20px;
    z-index: 1000;
  }
  .menu-icon div {
    height: 4px;
    background-color: white;
    transition: all 0.3s;
  }
  .menu-icon.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-icon.active div:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
  }
  .menu.active {
    display: flex;
  }
  .menu a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
  }

  #middlePart{
    height: 60vh;
  }


  .bigText{
    width: 100%;

  }

  .bigText h1{
    font-size: 2rem;
    margin: 0;

  }

  .bigText p{
    font-size: 1.3rem;
    margin-top: 40px;
    margin-left: 0;
  }

  .picBox{
    display: none;
    width: 0;
    margin: 0;
  }

  .buttons{
    display: block;
    margin-left: 0;
    margin-top: 40px;

  }

  button{
    height: 40px;
    width: 160px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
  }

  .bigText2{
    display: none;
  }

  header h2{
    font-size: 2rem;
  }

  #middlePart3{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
  }

  #middlePart3 h2{
    font-size: 2rem;
    margin: 0;
  }

  #secondText{
    display: none;
  }

  .bigText ul{
    margin-left: 0;
  }

  .hilfe {
    width: 100%; /* Passt die Breite auf kleinen Bildschirmen an */
    margin-top: 100px;
  }

  form {
    width: 90%; /* Macht das Formular breiter auf kleinen Bildschirmen */
    margin-left: 5%; /* Geringer Abstand zum Rand */
  }
  .form-container {
    padding: 20px; /* Weniger Padding auf kleinen Geräten */
  }



}

@media (min-width: 601px) and (max-width: 1117px){
  .navItems{
    display: none;
  }
  nav{
    padding: 0;
  }

  nav h2{
    font-size: 2rem;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    top: 45px;
    right: 20px;
    z-index: 1000;
  }
  .menu-icon div {
    height: 4px;
    background-color: white;
    transition: all 0.3s;
  }
  .menu-icon.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-icon.active div:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
  }
  .menu.active {
    display: flex;
  }
  .menu a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
  }
  #middlePart{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
  }

  .bigText{
    width: 100%;
    order: 2;

  }

  .bigText h1{
    font-size: 3rem;

  }

  .bigText p{

  }

  .picBox{
    display: flex;
    align-items: center;
    margin-left: 0;

    order: 1;
  }

  .picBox img{
    height: auto;
    max-width: 100%;
  }



  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 40px;

  }

  button{
    height: 40px;
    width: 160px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
  }

  #middlePart3{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
  }

  #middlePart3 h2{
    font-size: 2rem;
    margin-left: 0;
  }
  #middlePart3 p{
    margin: 0;
  }
  #secondText{
    display: none;
  }

  .bigText ul{
    margin-left: 0;
  }

  #middlePart2{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    height: auto;
  }

  .bigText2{
    max-width: 500px;
    height: auto;

  }

  .bigText2 h1{
    font-size: 3rem;

  }

  .hilfe {
    width: 100%; /* Passt die Breite auf kleinen Bildschirmen an */
  }

  form {
    width: 70%; /* Breiter als auf kleinen Geräten */
    margin-left: 15%; /* Zentriert das Formular mehr */
  }



}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

